*{
	font-size: 14px;
	color: #999999;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}


#head .left,#head .right{
	display: inline-block;
}
#head .right{
	float: right;
}

#head {
	padding: 20px 100px;
	/* 盒子的阴影   x轴的偏移量   y 轴的偏移量    阴影的模糊度   阴影的颜色 */
	 box-shadow: 0px 0px 10px #ccc;
}

#help-center{
	display: inline-block;
	border: 1px solid #999999;
	background-color: whitesmoke;
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
}
#help-center  img ,#help-center span{
	vertical-align: middle;
}
#please-login{
	color: #06c;
	text-decoration: none;
}

/* 表单盒子的背景色 */
#main{
	background-color: rgb(250 250 250);
}

#main form{
	text-align: center;
}
/* 输入框的样式 */
.input-style{
	display: inline-block;
	width: 290px;
	height: 45px;
	line-height: 45px;
	border: 1px solid #dedede;
	margin-top: 10px;
	padding-left: 20px;
}
/* 验证码 */
#valiCode {
	width:190px ;
}
/* 获取验证码 */
#valiButton{
	width: 100px;
	background-color: #57565f;
	color: white;
	border-radius: 4px;
	text-align: center;
	vertical-align: middle;
	height: 50px;
	position: relative;
	
}

#xieyi{
	color: #06c;
	text-decoration: none;
}
/* 注册按钮*/
#regisbutoon{
	background-color: #ff3c3c;
	color: white;
	width: 290px;
	height: 50px;
	border: 1px solid  #ff7373;
	font-size: 16px;
}


/* 协议 */

#main  p{
	height: 20px;
	font-size: 12px;
	color: #333;
	margin-top: 10px;
	
}

/* 标题 */
#main form  h2{
	color: #333333;
	font-size: 24px;
	margin: 20px;
}